.navbar {
  background-color: #22222f;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #ffc107;
}